/*<!-- стиль для заголовков секции "Чем мы занимаемся" и "Наша команда"-->*/

.style-main-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
